<li>
  <a href="#download">دانلود بوت‌استرپ</a>
  <ul class="nav">
    <li><a href="#download-compiled">سی‌اس‌اس، جاوااسکریپت و فونت‌های کامپایل‌شده</a></li>
    <li><a href="#download-additional">دانلودهای دیگر</a></li>
    <li><a href="#download-cdn">CDN برای بوت‌استرپ</a></li>
  </ul>
</li>
<li>
  <a href="#whats-included">چه چیزهایی را شامل می‌شود؟</a>
  <ul class="nav">
    <li><a href="#whats-included-precompiled">Precompiled</a></li>
    <li><a href="#whats-included-source">Source code</a></li>
  </ul>
</li>
<li>
  <a href="#template">قالب اچ‌تی‌ام‌ال</a>
</li>
<li>
  <a href="#examples">نمونه‌ها</a>
</li>
<li>
  <a href="#disable-responsive">غیرفعال کردن پاسخگویی</a>
</li>
<li>
  <a href="#migration">مهاجرت از نسخهٔ ۲ به ۳.۰</a>
  <ul class="nav">
    <li><a href="#migration-classes">تغییرات کلی کلاس‌های سی‌اس‌اس</a></li>
    <li><a href="#migration-new">چه چیزهایی جدید است؟</a></li>
    <li><a href="#migration-dropped">چه چیزهایی حذف شده‌است؟</a></li>
    <li><a href="#migration-notes">نکاتی دیگر</a></li>
  </ul>
</li>
<li>
  <a href="#browsers">پشتیبانی از مرورگر</a>
</li>
<li>
  <a href="#third-parties">پشتیبانی از شخص سوم</a>
</li>
<li>
  <a href="#accessibility">دسترسی</a>
</li>
<li>
  <a href="#license-faqs">پرسشگان درباره اجازه‌نامه</a>
</li>
<li>
  <a href="#customizing">سفارشی کردن بوت‌استرپ</a>
</li>
