<li>
  <a href="#overview">مرور کلی</a>
  <ul class="nav">
    <li><a href="#overview-doctype">doctype اچ‌تی‌ام‌ال ۵</a></li>
    <li><a href="#overview-mobile">نخست موبایل</a></li>
    <li><a href="#overview-responsive-images">عکس‌های پاسخگو</a></li>
    <li><a href="#overview-type-links">گرافیک قلم و پیوندها</a></li>
    <li><a href="#overview-normalize">نرمال‌سازی</a></li>
    <li><a href="#overview-container">نگهدارنده‌ها</a></li>
  </ul>
</li>
<li>
  <a href="#grid">سامانه شبکه‌ای</a>
  <ul class="nav">
    <li><a href="#grid-intro">معرفی</a></li>
    <li><a href="#grid-media-queries">کد استفاده‌شده برای Media</a></li>
    <li><a href="#grid-options">انتخاب‌های شبکه‌ای</a></li>
    <li><a href="#grid-example-basic">نمونه: Stacked-to-horizonal</a></li>
    <li><a href="#grid-example-fluid">نمونه: Fluid container</a></li>
    <li><a href="#grid-example-mixed">نمونه: موبایل و دسکتاپ‌ها</a></li>
    <li><a href="#grid-example-mixed-complete">نمونه: موبایل، تبلت، دسکتاپ‌ها</a></li>
    <li><a href="#grid-responsive-resets">بازنشانی‌های ستون پاسخگو</a></li>
    <li><a href="#grid-offsetting">ستون‌های فاصله‌دار</a></li>
    <li><a href="#grid-nesting">ستون‌های تودرتو</a></li>
    <li><a href="#grid-column-ordering">ترتیب ستون‌ها</a></li>
    <li><a href="#grid-less">متغیرها و mixins در LESS</a></li>
  </ul>
</li>
<li>
  <a href="#type">گرافیک قلم</a>
  <ul class="nav">
    <li><a href="#type-headings">تیترها</a></li>
    <li><a href="#type-body-copy">Body copy</a></li>
    <li><a href="#type-emphasis">تاکیدها</a></li>
    <li><a href="#type-abbreviations">مخفف‌ها</a></li>
    <li><a href="#type-addresses">نشانی‌ها</a></li>
    <li><a href="#type-blockquotes">گفتاوردها</a></li>
    <li><a href="#type-lists">فهرست‌ها</a></li>
  </ul>
</li>
<li>
  <a href="#code">کد</a>
  <ul class="nav">
    <li><a href="#code-inline">Inline code</a></li>
    <li><a href="#code-user-input">User input</a></li>
    <li><a href="#code-block">Blocks of code</a></li>
  </ul>
</li>
<li>
  <a href="#tables">جدول‌ها</a>
  <ul class="nav">
    <li><a href="#tables-example">نمونه پایه</a></li>
    <li><a href="#tables-striped">ردیف‌های متمایز</a></li>
    <li><a href="#tables-bordered">جدول با حاشیه</a></li>
    <li><a href="#tables-hover-rows">ردیف‌های حساس به نشانگر موس</a></li>
    <li><a href="#tables-condensed">جدول فشرده</a></li>
    <li><a href="#tables-contextual-classes">کلاس‌های وابسته</a></li>
    <li><a href="#tables-responsive">جدول‌های پاسخگو</a></li>
  </ul>
</li>
<li>
  <a href="#forms">فرم‌ها</a>
  <ul class="nav">
    <li><a href="#forms-example">نمونه پایه</a></li>
    <li><a href="#forms-inline">فرم اینلاین</a></li>
    <li><a href="#forms-horizontal">فرم افقی</a></li>
    <li><a href="#forms-controls">کنترل‌کننده‌های فرم قابل پشتیبانی</a></li>
    <li><a href="#forms-controls-static">کنترل‌کننده‌های ایستا</a></li>
    <li><a href="#forms-control-states">وضعیت‌های کنترل‌کننده</a></li>
    <li><a href="#forms-control-sizes">اندازه کنترل‌کننده</a></li>
    <li><a href="#forms-help-text">نوشته کمکی</a></li>
  </ul>
</li>
<li>
  <a href="#buttons">دکمه‌ها</a>
  <ul class="nav">
    <li><a href="#buttons-options">انتخاب‌ها</a></li>
    <li><a href="#buttons-sizes">اندازه‌ها</a></li>
    <li><a href="#buttons-active">وضعیت فعال</a></li>
    <li><a href="#buttons-disabled">وضعیت غیرفعال</a></li>
    <li><a href="#buttons-tags">تگ‌های دکمه</a></li>
  </ul>
</li>
<li>
  <a href="#images">عکس‌ها</a>
</li>
<li>
  <a href="#helper-classes">کلاس‌های کمکی</a>
  <ul class="nav">
    <li><a href="#helper-classes-close">آیکن بستن</a></li>
    <li><a href="#helper-classes-carets">Carets</a></li>
    <li><a href="#helper-classes-floats">شناورهای سریع</a></li>
    <li><a href="#helper-classes-center">Center content blocks</a></li>
    <li><a href="#helper-classes-clearfix">Clearfix</a></li>
    <li><a href="#helper-classes-show-hide">نمایش و مخفی کردن محتوا</a></li>
    <li><a href="#helper-classes-screen-readers">محتوای صفحه‌خوان</a></li>
    <li><a href="#helper-classes-image-replacement">جایگزینی با عکس</a></li>
  </ul>
</li>
<li>
  <a href="#responsive-utilities">ابزارهای پاسخگو</a>
  <ul class="nav">
    <li><a href="#responsive-utilities-classes">کلاس‌های موجود</a></li>
    <li><a href="#responsive-utilities-print">کلاس‌هایی برای پرینت</a></li>
    <li><a href="#responsive-utilities-tests">مورد‌های آزمایشی</a></li>
  </ul>
</li>
