<li>
  <a href="#glyphicons">آیکن‌ها</a>
  <ul class="nav">
    <li><a href="#glyphicons-glyphs">آیکن‌های موجود</a></li>
    <li><a href="#glyphicons-how-to-use">چگونه استفاده کنم؟</a></li>
    <li><a href="#glyphicons-examples">نمونه‌ها</a></li>
  </ul>
</li>
<li>
  <a href="#dropdowns">افتادنی‌ها</a>
  <ul class="nav">
    <li><a href="#dropdowns-example">نمونه</a></li>
    <li><a href="#dropdowns-alignment">انتخاب‌های همراستاسازی</a></li>
    <li><a href="#dropdowns-headers">تیترها</a></li>
    <li><a href="#dropdowns-disabled">آیتم‌های منوی غیرفعال</a></li>
  </ul>
</li>
<li>
  <a href="#btn-groups">گروه‌های دکمه</a>
  <ul class="nav">
    <li><a href="#btn-groups-single">نمونه پایه</a></li>
    <li><a href="#btn-groups-toolbar">گروهی از چندین دکمه</a></li>
    <li><a href="#btn-groups-sizing">اندازه</a></li>
    <li><a href="#btn-groups-nested">تودرتو</a></li>
    <li><a href="#btn-groups-vertical">گروه‌های دکمه عمودی</a></li>
    <li><a href="#btn-groups-justified">پیوندهای هم‌اندازه</a></li>
  </ul>
</li>
<li>
  <a href="#btn-dropdowns">افتادنی‌های دکمه‌ای</a>
  <ul class="nav">
    <li><a href="#btn-dropdowns-single">افتادنی‌های تک دکمه‌ای</a></li>
    <li><a href="#btn-dropdowns-split">افتادنی‌های دکمه‌ای جدا</a></li>
    <li><a href="#btn-dropdowns-sizing">اندازه</a></li>
    <li><a href="#btn-dropdowns-dropup">منوهای بالارونده</a></li>
  </ul>
</li>
<li>
  <a href="#input-groups">ورودی‌های گروهی</a>
  <ul class="nav">
    <li><a href="#input-groups-basic">نمونه پایه</a></li>
    <li><a href="#input-groups-sizing">اندازه</a></li>
    <li><a href="#input-groups-checkboxes-radios">افزونه‌های Checkbox و radios</a></li>
    <li><a href="#input-groups-buttons">افزونه‌های دکمه‌ای</a></li>
    <li><a href="#input-groups-buttons-dropdowns">با دکمه‌های افتادنی</a></li>
    <li><a href="#input-groups-buttons-segmented">با دکمه‌های جدا</a></li>
  </ul>
</li>
<li>
  <a href="#nav">ناوبری‌ها</a>
  <ul class="nav">
    <li><a href="#nav-tabs">تب‌ها</a></li>
    <li><a href="#nav-pills">پیل‌ها</a></li>
    <li><a href="#nav-justified">ناوبری همراستا</a></li>
    <li><a href="#nav-disabled-links">پیوندهای غیرفعال</a></li>
    <li><a href="#nav-alignment">انتخاب‌های همراستاسازی</a></li>
    <li><a href="#nav-dropdowns">استفاده از افتادنی‌ها</a></li>
  </ul>
</li>
<li>
  <a href="#navbar">نوارهای ناوبری</a>
  <ul class="nav">
    <li><a href="#navbar-default">نوار ناوبری پایه</a></li>
    <li><a href="#navbar-forms">فرم‌ها</a></li>
    <li><a href="#navbar-buttons">دکمه‌ها</a></li>
    <li><a href="#navbar-text">متن</a></li>
    <li><a href="#navbar-links">پیوندهای غیرناوبری</a></li>
    <li><a href="#navbar-component-alignment">همراستاسازی اجزا</a></li>
    <li><a href="#navbar-fixed-top">چسبیده به بالا</a></li>
    <li><a href="#navbar-fixed-bottom">چسبیده به پایین</a></li>
    <li><a href="#navbar-static-top">بالای ایستا</a></li>
    <li><a href="#navbar-inverted">نوار ناوبری با رنگ متمایز</a></li>
  </ul>
</li>
<li><a href="#breadcrumbs">تکه کیک‌ها</a></li>
<li>
  <a href="#pagination">صفحه‌بندی</a>
  <ul class="nav">
    <li><a href="#pagination-default">صفحه‌بندی پیش‌فرض</a></li>
    <li><a href="#pagination-pager">صفحه‌بند</a></li>
  </ul>
</li>
<li><a href="#labels">برچسب‌ها</a></li>
<li><a href="#badges">نشان‌ها</a></li>
<li><a href="#jumbotron">جامبو</a></li>
<li><a href="#page-header">تیتر صفحه</a></li>
<li>
  <a href="#thumbnails">بندانگشتی‌ها</a>
  <ul class="nav">
    <li><a href="#thumbnails-default">نمونه پیش‌فرض</a></li>
    <li><a href="#thumbnails-custom-content">محتوای سفارشی</a></li>
  </ul>
</li>
<li>
  <a href="#alerts">اخطارها</a>
  <ul class="nav">
    <li><a href="#alerts-examples">نمونه‌ها</a></li>
    <li><a href="#alerts-dismissable">اخطارها با دکمه حذف</a></li>
    <li><a href="#alerts-links">پیوندها در اخطارها</a></li>
  </ul>
</li>
<li>
  <a href="#progress">نوارهای پیشرفت</a>
  <ul class="nav">
    <li><a href="#progress-basic">نمونه پایه</a></li>
    <li><a href="#progress-alternatives">جایگزین‌های وابسته</a></li>
    <li><a href="#progress-striped">راه‌راه</a></li>
    <li><a href="#progress-animated">دارای حرکت</a></li>
    <li><a href="#progress-stacked">پشته‌ای</a></li>
  </ul>
</li>
<li>
  <a href="#media">شی رسانه</a>
  <ul class="nav">
    <li><a href="#media-default">نمونه پیش‌فرض</a></li>
    <li><a href="#media-list">فهرست رسانه</a></li>
  </ul>
</li>
<li>
  <a href="#list-group">گروه‌های فهرستی</a>
  <ul class="nav">
    <li><a href="#list-group-basic">نمونه پایه</a></li>
    <li><a href="#list-group-badges">نشان‌ها</a></li>
    <li><a href="#list-group-linked">آیتم‌های پیوندشده</a></li>
    <li><a href="#list-group-custom-content">محتوای سفارشی</a></li>
  </ul>
</li>
<li>
  <a href="#panels">پنل‌ها</a>
  <ul class="nav">
    <li><a href="#panels-basic">نمونه پایه</a></li>
    <li><a href="#panels-heading">پنل با تیتر</a></li>
    <li><a href="#panels-alternatives">جایگزین‌های وابسته</a></li>
    <li><a href="#panels-tables">با جدول‌ها</a>
    <li><a href="#panels-list-group">با گروه‌های فهرستی</a>
  </ul>
</li>
<li><a href="#wells">چاه‌ها</a></li>
