<li>
  <a href="#js-overview">مرور کلی</a>
  <ul class="nav">
    <li><a href="#js-individual-compiled">منحصربه‌فرد یا کامپایل‌شده</a></li>
    <li><a href="#js-data-attrs">خصوصیت‌های Data</a></li>
    <li><a href="#js-programmatic-api">API قابل برنامه‌ریزی</a></li>
    <li><a href="#js-noconflict">بدون برخورد</a></li>
    <li><a href="#js-events">رویدادها</a></li>
  </ul>
</li>
<li><a href="#transitions">انتقال‌ها</a></li>
<li>
  <a href="#modals">مُدال</a>
  <ul class="nav">
    <li><a href="#modals-examples">نمونه‌ها</a></li>
    <li><a href="#modals-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#dropdowns">افتادنی‌ها</a>
  <ul class="nav">
    <li><a href="#dropdowns-examples">نمونه‌ها</a></li>
    <li><a href="#dropdowns-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#scrollspy">اسکرول جاسوس</a>
  <ul class="nav">
    <li><a href="#scrollspy-examples">نمونه‌ها</a></li>
    <li><a href="#scrollspy-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#tabs">تب‌ها</a>
  <ul class="nav">
    <li><a href="#tabs-examples">نمونه‌ها</a></li>
    <li><a href="#tabs-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#tooltips">بالُنک</a>
  <ul class="nav">
    <li><a href="#tooltips-examples">نمونه‌ها</a></li>
    <li><a href="#tooltips-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#popovers">پوب</a>
  <ul class="nav">
    <li><a href="#popovers-examples">نمونه‌ها</a></li>
    <li><a href="#popovers-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#alerts">اخطار</a>
  <ul class="nav">
    <li><a href="#alerts-examples">نمونه‌ها</a></li>
    <li><a href="#alerts-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#buttons">دکمه</a>
  <ul class="nav">
    <li><a href="#buttons-examples">نمونه‌ها</a></li>
    <li><a href="#buttons-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#collapse">فروریختنی</a>
  <ul class="nav">
    <li><a href="#collapse-examples">نمونه‌ها</a></li>
    <li><a href="#collapse-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#carousel">چرخ فلک</a>
  <ul class="nav">
    <li><a href="#carousel-examples">نمونه‌ها</a></li>
    <li><a href="#carousel-usage">استفاده</a></li>
  </ul>
</li>
<li>
  <a href="#affix">پیوست</a>
  <ul class="nav">
    <li><a href="#affix-examples">نمونه‌ها</a></li>
    <li><a href="#affix-usage">استفاده</a></li>
  </ul>
</li>
